* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", Helvetica, sans-serif;
}
body {

  background-image: url(../img/fundos.png);
  transition: 1s;
  background-color: #01081f;

}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 45px;
  background: linear-gradient(#24136ffa , #1a1399f6 , #0c0d64fa) ;
  color: #ffffff;
   padding: 36px;
   position: fixed; 
   z-index: 10;
}
header img{
  width: 90px;
  margin-left: -40px;
}
.descontos ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.descontos 
li,
a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgb(77, 4, 4);
}
.descontos 
li,
a:hover{
  color:aliceblue;
  text-shadow: 0px 2px 5px rgb(7, 7, 7);
}

.logo {
  background-color: #162339;

}
.banner{
  width: 100%;
  height: 80dvh;
  background-image: url(../img/banner-novo.jpeg);
  background-position: left  center;
  position: relative;
  z-index: 1;
  background-size:cover;
 
}
.logo  {
  font-size: 18px;
  color: white;
}

.botao {
 display: flex;
  justify-content: center;
  align-items:flex-start;
  position: relative;
  bottom:80px;
  z-index: 5;
    
}
button {
  
  width: 200px;
  
  
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #101d49;
  color: #ffffff;
  font-size: larger;
  box-shadow: 0px 1px 6px rgb(10, 10, 10);
  font-weight: bolder;
}

button:hover {
  background-color: #01081f;
}

.imagens {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  align-content: center;
}


.img {
  width: 250px;
  background-color:  #0f162e15;
  
  
}
h3 {
  
  text-align: center;
  background-color: #101d49;
  color: white;
  margin-top: 10px;

}

h2 {
  letter-spacing: 0, 5px;
  color: #0f162e;
  margin-top: 40px;
  
}

.beneficios h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.beneficios {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beneficios p {
  margin-top: 5px;
  width: 382px;
  line-height: 1.8;
}

.depoimentos-h2 {
  text-align: center;
}

.depoimentos {
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.box-depoimento {
  background-color: #101d49;
  color: white;
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  box-sizing: border-box;
}

.box-depoimento:hover {
  background-color: #01081f;
}
.box-depoimento > h4 {
  margin-bottom: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.formulario > h2 {
  margin-bottom: 20px;
}

.formulario > form {
  max-width: 400px;
  margin: auto;
  text-align: left;
}

.formulario input[type="text"],
.formulario input[type="email"] {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid black;
}

.formulario input[type="submit"] {
  margin: 20px auto;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #101d49;
  color: #ffffff;
  display: flex;
  font-size: larger;
  box-shadow: 0px 1px 6px rgb(10, 10, 10);
  font-weight: bolder;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-align: center;
  background-color: #101d49;
  color: #ffffff;
  padding: 10px;
}

body{
  animation: full 50s linear;
  animation-iteration-count: infinite;

}


@keyframes full {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 100%;
  }
}
